

<%= div_for(task) do %>
<div class="container">
	<div class="border-primary">
		<div class="row">
			<div class="col-sm-7">
				<%= task.name %></div> <div class="col-sm-2"> by <%= task.user.email %> </div>

				<% if (task.completed == false) %>


				<div class="col-sm-1">
					<%= link_to complete_path(task), remote: true, :class => "mark-complete-link", class: 'btn btn-outline-success btn-sm' do %> 
					<%= fa_icon "check" %>

					<% end %>

				</div>
				<div class="col-sm-1">
					<%= link_to edit_task_path(task), remote: true, class: 'btn btn-outline-secondary btn-sm' do %> 
					<%= fa_icon "edit" %>

					<% end %>
				</div>

				<div class="col-sm-1">
					<%= link_to task, remote: true, method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure?' } do %> 
					<%= fa_icon "trash" %>

					<% end %>

				</div>
			</div>
		</div>
	</div>
	
	<% end %>
	<br>

	<% end %>
	
